*, *::before, *::after{
    box-sizing: border-box;
    outline: 2px dotted tomato;
}

:root {
    /* Text Colors */
    --primary-text-color: #202020;  
    --secondary-text-color: #707070;

    /* Background Colors */
    --primary-bg-color: #FFFFFF;    
    --secondary-bg-color: #FFA5A5;
    --tertiary-bg-color: #6AB1D7;
    --light-red-bg-color: #FF8A80;   /* Light red background color for remove-btn */
    --dark-red-bg-color: #FF5252;   /* Dark red hover background color for remove-btn */
    --light-gray-bg-color: #F0F0F0; /* Light gray background color, used in various places */
    --dark-gray-bg-color: #E0E0E0;  /* Dark gray hover background color */

    /* Interactive Elements */
    --button-primary-bg-color: #6AB1D7;  /* Primary button background color */
    --button-hover-color: #5B9CC7;
    --button-active-color: #4A859C;
    --button-disabled-color-bg: #E0E0E0;
    --button-disabled-color-text: #B0B0B0;

    /* Borders and Dividers */
    --border-color: #D0D0D0;

    /* Border Radii */
    --small-border-radius: 5px;
    --medium-border-radius: 7px;  /* This was specifically for .send-invoice-btn */
    --large-border-radius: 10px;  /* Used in .task-quantity */

    /* Transitions */
    --primary-transition: 0.3s ease-in-out;

    /* Misc */
    --highlight-color: #FFD700;
    --footer-bg-color: #EAEAEA;          /* Background color for footer */
    --footer-link-color: #505050;        /* Link color for footer links */
    --footer-link-hover-color: #2C2C2C;  /* Link hover color for footer links */
}


html{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    line-height: 1.6;
}

/* ----- MAIN ----- */

main {
    width: 90%;
    margin: 0 auto;
    flex: 1 0 auto; /* This ensures main content pushes the footer to the bottom */
}

/* ----- HEADER ----- */

header {
    background: var(--secondary-bg-color)
}

header h1 {
    text-align: center;
    margin: 0;
    padding: 0.125em;
}

header p {
    text-align: center;
    margin: 0;
    padding-bottom: 0.5em;
}

/* ----- TASK ENTRY SECTION ----- */

.task-entry-section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    font-size: 1.5rem;
    margin: 1em auto;
}

.input-label {
    font-size: 1rem;
    font-weight: bold;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.task-input, .price-input, .quantity-input, .add-task-btn {
    border-radius: var(--small-border-radius);
    border: 1px solid var(--border-color); 
    transition: var(--primary-transition);
}

.task-input {
    width: 100%;
    padding: 0.5em;
}

.price-input,
.quantity-input {
    display: flex;
    padding: 0.5em;
    text-align: right;
    margin: 0 auto;
    width: 100%;
}

.price-quantity-container {
    display: flex;
    gap: 1em;
}

.price-quantity-container > * {
    flex: 1;
}

.primary-btn {
    width: 100%;
    background-color: var(--tertiary-bg-color);
    color: var(--primary-text-color);
    border: none;
    border-radius: var(--medium-border-radius);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color var(--primary-transition);
    padding: 1em;
    margin: 0.45em 0; 
}

.primary-btn:hover {
    background-color: var(--button-hover-color);
}

.primary-btn:active {
    background-color: var(--button-active-color);
}

.primary-btn:disabled {
    background-color: var(--button-disabled-color-bg);
    color: var(--button-disabled-color-text);
}


.btn-icon {
    margin-right: 0.5em;
}


/* ----- TASK LIST SECTION ----- */

.task-top-row,
.notes-total-amount-top-row,
.notes-total-amount-bottom-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    color: var(--secondary-text-color);
    padding: 0.25em;
    font-weight: bold;
    width: 100%;
}

.task-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.task-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.remove-btn {
    font-size: 0.888rem;
    background-color: var(--light-red-bg-color); 
    color: var(--primary-text-color);
    border: none;
    padding: 4px 8px;
    border-radius: var(--small-border-radius);
    cursor: pointer;
    transition: background-color var(--primary-transition);
}

.remove-btn:hover {
    background-color: var(--dark-red-bg-color); 
}

.task-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray-bg-color); 
    border-radius: var(--large-border-radius);
    padding: 0 10px;
    gap: 0.5em;
    height: 1.75em;
}

.task-names,
.total {
    color: var(--primary-text-color);
    font-size: 1.5rem;
}

/* Minus and Plus button styling */
.task-quantity .minus-btn, .task-quantity .plus-btn {
    background-color: var(--light-gray-bg-color); 
    border: none;
    color: var(--primary-text-color); 
    font-size: 1rem;
    border-radius: var(--small-border-radius);
    cursor: pointer;
    transition: background-color var(--primary-transition);
}

.task-quantity .minus-btn:hover, .task-quantity .plus-btn:hover {
    background-color: var(--dark-gray-bg-color); /* slightly darker gray for hover */
}

/* Quantity styling */
.task-quantity .quantity {
    background-color: var(--light-gray-bg-color); /* light gray */
}


.total-amount {
    font-size: 2.5em;
}

.total-amount-paragraph {
    margin: 0;
}

.task-name-style,
.task-price-style {
    font-size: 1.5em;
}

.dollar-sign-style {
    font-size: 1.5em;
    padding-right: 0.05em;
}

.payment-methods-note {
    font-style: italic; 
    color: var(--secondary-text-color); 
    font-size: 0.85rem;
}


button:disabled {
  background-color: var(--button-disabled-color-bg);
  color: var(--button-disabled-color-text);
}

/* ----- FOOTER ----- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* This ensures the footer doesn't shrink */
    height: 5em;
    background-color: var(--footer-bg-color);  
    padding: 1em 0;
    text-align: center;
}

footer a {
    color: var(--footer-link-color);  
    text-decoration: none;
    margin: 0 1em;  
    font-size: 0.85em;  
    transition: color var(--primary-transition); 
}

footer a:hover {
    color: #2C2C2C;
}

.footer-icon {
    margin-right: 0.5em;  
}

/* ----- MODAL STYLING ----- */

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

dialog {
    border: none; 
    border-radius: var(--medium-border-radius);
    max-width: 500px; 
    padding: 1.25em; 
    background-color: var(--primary-bg-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border: 1px solid var(--border-color);
    border-radius: var(--small-border-radius);
    padding: 1em;
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0.5em;
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1rem;
    font-weight: bold;
}

.modal-email-input, textarea {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--small-border-radius);
    padding: 0.5em;
    font-size: 1rem;
    transition: var(--primary-transition);
    background-color: var(--light-gray-bg-color);
    max-width: 450px;
}

.modal-email-input:focus, textarea:focus {
    border-color: var(--tertiary-bg-color);
    background-color: var(--primary-bg-color);
}

menu {
    display: flex;
    justify-content: center;
    padding-left: 0;
    gap: 1.5em;
}

.modal-send-invoice-btn {
    margin: 0;
    padding: 0;
}

.modal-send-invoice-btn,
.modal-cancel-btn,
.modal-close-btn {
    border: none;
    border-radius: var(--small-border-radius);
    font-size: 1rem;
    cursor: pointer;
    transition: var(--primary-transition);
    padding: 0.5em 1em;
}

#submit-modal-btn {
    background-color: var(--button-primary-bg-color);
    color: var(--primary-bg-color);
}

#submit-modal-btn:hover {
    background-color: var(--button-hover-color);
}

#submit-modal-btn:active {
    background-color: var(--button-active-color);
}

#cancel-modal-btn, #close-confirm-modal-btn {
    background-color: var(--light-red-bg-color);
    color: var(--primary-text-color);
}

#cancel-modal-btn:hover, #close-confirm-modal-btn:hover {
    background-color: var(--dark-red-bg-color);
}

.confirmation-modal {
    text-align: center;
}

/* ----- MEDIA QUERIES ----- */

/* For tablets */
@media (min-width: 600px) and (max-width: 1024px) {
    /* Styles for tablets go here */
}

/* For desktops */
@media (min-width: 1024px) {
    /* Styles for desktops go here */
}
